@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext);
body {
  overflow-x: hidden;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .panel-default > .panel-heading, .panel-primary > .panel-heading, .panel-success > .panel-heading, .panel-info > .panel-heading, .panel-warning > .panel-heading, .panel-danger > .panel-heading {
  background-image: none;
}

.text-right-sm {
  text-align: left;
  margin-bottom: 10px !important;
}

@media screen and (min-width: 992px) {
  .text-right-sm {
    text-align: right;
  }
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.ui-menu .ui-menu-item {
  list-style: none;
}

.ui-autocomplete {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 0px 0px 4px 4px;
  max-height: 300px;
  overflow-y: auto;
}

.ui-autocomplete li.ui-menu-item {
  padding: 0px;
  border: none;
}

.ui-autocomplete li.ui-menu-item a {
  font-size: 14px;
  display: block;
  padding: 3px 20px 3px 6px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: none;
  background: #e8e8e8;
  font-weight: normal;
  color: #333;
  margin: 0;
}

html {
  width: 100%;
}

body {
  padding-top: 50px;
  margin-top: 30px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background: #000;
}

.alert {
  display: inline-block;
}

.navbar-inverse {
  background: #222;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: #e8e8e8;
}

body {
  font-family: Roboto;
  font-size: 16px;
}

h1.tournament-name {
  margin-top: 0px;
}

.created_at {
  font-style: italic;
}

.round {
  margin-bottom: 40px;
}

.round .row {
  font-size: 1.4em;
  background: #ededed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.round .row:nth-child(2n+1) {
  background: #F5F5F5;
}

.round .row.head {
  background: #ccc;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.round .row.head h2 {
  margin: 0;
  font-size: 1.3em;
}

.round .row .text-center {
  white-space: nowrap;
}

.round .row div p {
  margin: 0;
}

.round .row div p.name {
  font-size: 0.65em;
}

.round .row div p.name::before {
  content: "(";
}

.round .row div p.name::after {
  content: ")";
}

.round .row > div:first-child img {
  margin: 0px 0px 0px 10px;
}

.round .row > div:last-child img {
  margin: 0px 10px 0px 0px;
}

.home, .away {
  font-size: 1.3em;
  background: none;
  border: none;
  border-radius: 0px;
  transition: .2s all ease-in-out;
  outline: none;
  margin: 0px 10px;
  text-align: center;
  box-sizing: content-box;
}

.home::-webkit-outer-spin-button, .home::-webkit-inner-spin-button, .away::-webkit-outer-spin-button, .away::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .round .row {
    padding: 40px 10px;
  }
  .round .row.head {
    padding: 40px;
  }
  .home, .away {
    min-width: 20px;
    margin: 0px 8px;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 12px;
  }
  .home, .away {
    min-width: 15px;
  }
}

.bracket {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6em;
}

.bracket .col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0;
}

.bracket .col .spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bracket .col .game-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bracket .col .spacer:first-child, .bracket .col .spacer:last-child {
  -webkit-flex-grow: .5;
      -ms-flex-positive: .5;
          flex-grow: .5;
}

.bracket .col:last-child .spacer {
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.bracket .col .game {
  height: 1.6em;
}

.bracket .col .game-spacer {
  border-right: 1px solid #ddd;
  min-height: 150px;
}

.bracket .col .game-bottom {
  margin-bottom: 30px;
}

.bracket .col .game-hidden {
  border: none;
}

.bracket .col:first-child .game-top > div, .bracket .col:first-child .game-bottom > div {
  border: 1px solid #ddd;
}

.bracket .col .game-top > div, .bracket .col .game-bottom > div {
  background: #ededed;
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 1.6em;
  border-left: none;
  text-align: center;
  font-family: Roboto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bracket .col .game-top > div span, .bracket .col .game-bottom > div span {
  width: 80%;
  line-height: 1.6em;
}

.bracket .col .game-top > div .score, .bracket .col .game-top > div .score1, .bracket .col .game-top > div .score2, .bracket .col .game-bottom > div .score, .bracket .col .game-bottom > div .score1, .bracket .col .game-bottom > div .score2 {
  width: 25%;
  display: inline-block;
  background: #F5F5F5;
  padding: 0;
  border-radius: 0px 3px 3px 0px;
}

.bracket .col .game-top > div .score.score1, .bracket .col .game-top > div .score1.score1, .bracket .col .game-top > div .score2.score1, .bracket .col .game-bottom > div .score.score1, .bracket .col .game-bottom > div .score1.score1, .bracket .col .game-bottom > div .score2.score1 {
  border-radius: 0px;
  border-right: 1px solid #ddd;
}

.bracket .col:last-child .game-top > div span, .bracket .col .bracket .col .game-bottom > div span {
  width: 100%;
}

.bracket .col .home, .bracket .col .away {
  min-width: 100%;
  margin: 0;
  padding: 0;
  height: calc(100% - 1px);
  font-size: 0.8em;
  display: block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
  width: auto;
  padding: 0 15px;
  text-align: center;
}

.footer .container .text-muted {
  margin: 19px 0;
}

.footer .container .text-muted .glyphicon-heart {
  color: #DA0C00;
}
