@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext);
body {
  padding-top: 50px;
  margin: 30px;
}

body {
  font-family: Roboto;
  font-size: 16px;
}

.form-control {
  border-radius: 3px;
}

.form-horizontal .checkbox-inline {
  margin-top: 11px;
}

.panel-info > .panel-heading {
  background-image: none;
}

.panel-heading input {
  margin-top: 10px;
}

.panel-heading input:first-child {
  margin-top: 0px;
}

.teams {
  padding: 0;
}

.teams .center-inline-block {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 1115px;
}

.teams .center-inline-block .panel {
  display: inline-block;
  margin: 3px;
  vertical-align: top;
}
