@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext);
body {
  overflow-x: hidden;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .panel-default > .panel-heading, .panel-primary > .panel-heading, .panel-success > .panel-heading, .panel-info > .panel-heading, .panel-warning > .panel-heading, .panel-danger > .panel-heading {
  background-image: none;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

html {
  width: 100%;
}

body {
  padding-top: 50px;
  margin-top: 30px;
}

body {
  font-family: Roboto;
  font-size: 16px;
}

.form-control {
  border-radius: 3px;
}

.form-horizontal .checkbox-inline {
  margin-top: 5px;
}

.panel-info > .panel-heading {
  background-image: none;
}

.panel-heading input {
  margin-top: 10px;
}

.panel-heading input:first-child {
  margin-top: 0px;
}

.form-horizontal .control-label {
  text-align: left;
}

.form-horizontal .multi-line {
  margin-top: 0.75em;
}

.form-horizontal .input-group {
  margin-top: 5px;
}

.form-horizontal .input-group-btn .btn {
  border-color: #ccc;
}

@media (max-width: 768px) {
  .form-horizontal .control-label {
    text-align: center;
  }
}

.teams {
  padding: 0;
}

.teams .row > div {
  padding: 0;
}

.teams .center-inline-block {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1115px;
}

.teams .center-inline-block .panel {
  display: inline-block;
  margin: 3px;
  vertical-align: top;
}

@media (max-width: 768px) {
  .teams > .center-block {
    text-align: center;
  }
  .teams .center-inline-block .panel {
    width: 100%;
    margin: 3px 0px;
  }
}

.summary {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.summary > div {
  padding: 0px;
}

.summary .panel {
  display: inline-block;
  vertical-align: top;
}

.summary .panel p {
  margin: 0;
}

.summary .panel ul, .summary .panel li {
  padding: 0px;
}

.summary .panel .panel-body {
  padding: 15px 55px;
}

@media (min-width: 768px) {
  .btn-block {
    display: inline-block;
    width: auto;
  }
}

@media (max-width: 768px) {
  .summary .panel {
    width: 100%;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
  width: auto;
  padding: 0 15px;
  text-align: center;
}

.footer .container .text-muted {
  margin: 19px 0;
}

.footer .container .text-muted .glyphicon-heart {
  color: #DA0C00;
}
