@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext);
body {
  font-family: Roboto;
}

.row {
  display: flex;
  align-items: center;
}

.row > :first-child {
  width: 145px;
}

select {
  margin: 16px 0px;
  height: 33px;
  font-size: 15px;
  font-weight: 100;
  border: 2px solid #ccc;
  background: white;
  width: 300px;
  outline: none;
  transition: all .2s ease-in-out;
}

select:focus {
  border-color: #666;
}

.spinner {
  display: flex;
  margin: 10px 0px;
}

.spinner .minus {
  border-radius: 5px 0px 0px 5px;
}

.spinner .plus {
  border-radius: 0px 5px 5px 0px;
}

.spinner .minus, .spinner .plus {
  cursor: pointer;
  padding: 5px 10px !important;
}

.spinner .minus, .spinner .plus, .spinner input {
  height: 33px;
  border: none;
  background: #bbb;
  font-size: 18px;
  color: #fff;
  padding: 5px;
  outline: none;
}

.spinner .minus:hover, .spinner .plus:hover, .spinner input:hover {
  background: #aaa;
}

.spinner .minus:focus, .spinner .plus:focus, .spinner input:focus {
  background: #999;
}

.spinner input {
  width: 30px;
  text-align: center;
  height: 23px;
}

table {
  border-spacing: 0px;
  border-collapse: separate;
}

table tr td, table tr th {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  min-width: 42px;
}

table tr td:last-child, table tr th:last-child {
  border-right: 1px solid #aaa;
}

table tr:last-child tr, table tr:last-child td {
  border-bottom: 1px solid #aaa;
}

table thead tr {
  background: #777;
  color: #FFF;
}

table thead tr th {
  border-color: #aaa;
  font-weight: 500;
}

table tbody tr:hover {
  background: rgba(173, 216, 230, 0.47);
}
