@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext);
body {
  overflow-x: hidden;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .panel-default > .panel-heading, .panel-primary > .panel-heading, .panel-success > .panel-heading, .panel-info > .panel-heading, .panel-warning > .panel-heading, .panel-danger > .panel-heading {
  background-image: none;
}

.text-right-sm {
  text-align: left;
  margin-bottom: 10px !important;
}

@media screen and (min-width: 992px) {
  .text-right-sm {
    text-align: right;
  }
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.ui-menu .ui-menu-item {
  list-style: none;
}

.ui-autocomplete {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 0px 0px 4px 4px;
  max-height: 300px;
  overflow-y: auto;
}

.ui-autocomplete li.ui-menu-item {
  padding: 0px;
  border: none;
}

.ui-autocomplete li.ui-menu-item a {
  font-size: 14px;
  display: block;
  padding: 3px 20px 3px 6px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: none;
  background: #e8e8e8;
  font-weight: normal;
  color: #333;
  margin: 0;
}

.text-muted {
  color: #777 !important;
}

html {
  width: 100%;
}

body {
  padding-top: 50px;
  margin-top: 30px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background: #000;
}

.alert {
  display: inline-block;
}

.navbar-inverse {
  background: #222;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: #e8e8e8;
}

body {
  font-family: Roboto;
  font-size: 16px;
}

h1.tournament-name {
  margin-top: 0px;
}

.created_at {
  font-style: italic;
}

table {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table tr td, table tr th {
  border: none !important;
  border-bottom: 1px solid #A3ABAD !important;
  font-size: 12px;
  padding: 5px;
  text-align: left;
  min-width: 42px;
  padding: 8px 5px;
  text-align: center;
}

table tr td:nth-child(1), table tr th:nth-child(1) {
  width: 55px;
}

table tr td:nth-child(2), table tr th:nth-child(2) {
  text-align: left;
  padding-left: 20px !important;
}

table thead tr {
  background: #eceeee;
  color: #9fa9ac;
  text-transform: uppercase;
}

table thead tr th {
  font-weight: 500;
  padding: 10px 5px;
}

table tbody tr td {
  margin-top: 10px;
  padding: 3px 0px 0px 0px !important;
  height: 50px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle !important;
  color: #7F7F7F;
  line-height: 50px !important;
}

table tbody tr td img {
  height: 70%;
  display: inline-block;
  margin-right: 10px;
  line-height: 100%;
}

table tbody tr td:nth-child(1), table tbody tr td:nth-child(2), table tbody tr td:nth-child(3), table tbody tr td:last-child {
  color: black;
}

table tbody tr td:first-child span {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px !important;
  vertical-align: middle;
  font-size: 26px;
  text-align: center;
}

table tbody tr:nth-child(1) td:first-child span {
  background: #2159a6;
  color: #ffffff;
}

table tbody tr:nth-child(2) td:first-child span {
  background: #0491d4;
  color: #ffffff;
}

table tbody tr:nth-child(3) td:first-child span {
  background: #29842a;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  table tr:last-child td {
    border-bottom: none !important;
  }
  .table-responsive {
    border-color: #A3ABAD;
  }
}
