h1.tournament-name
  margin-top: 0px

.created_at
  font-style: italic

.round
  margin-bottom: 40px

  .row
    font-size: 1.4em
    background: #ededed
    display: flex
    align-items: center
    justify-content: center
    padding: 40px
    &:nth-child(2n+1)
      background: #F5F5F5

    &.head
      background: #ccc
      justify-content: flex-start

      h2
        margin: 0
        font-size: 1.3em

    .text-center
      white-space: nowrap

    div p
      margin: 0
      &.name
        font-size: 0.65em
        &::before
          content: "("
        &::after
          content: ")"

    & > div:first-child
      img
        margin: 0px 0px 0px 10px

    & > div:last-child
      img
        margin: 0px 10px 0px 0px

    .home, .away
      font-size: 1.3em
      display: inline-block
      min-width: 40px
      margin: 0px 10px
      transition: .2s all ease-in-out
      outline: none

.pagination
  display: flex
  justify-content: center


@media screen and (max-width: 768px)
  body
    font-size: 14px

  .round
    .row
      padding: 40px 10px
      &.head
        padding: 40px
      .home, .away
        min-width: 20px
        margin: 0px 8px

@media screen and (max-width: 375px)
  body
    font-size: 12px

    .round
      .row
        padding: 40px 10px
        &.head
          padding: 40px
        .home, .away
          min-width: 15px
          margin: 0px 8px
