.bracket
  display: flex
  flex-direction: row
  justify-content: center
  font-size: 1.6em

  .col
    display: flex
    flex-direction: column
    justify-content: center
    width: 300px
    list-style: none
    padding: 0

    .spacer, .game-spacer
      flex-grow: 1

    .spacer:first-child, .spacer:last-child
      flex-grow: .5

    &:last-child .spacer
      flex-grow: 0

    .game
      height: 1.6em

    .game-spacer
      border-right: 2px solid #ededed
      min-height: 150px
      height: 1.6em

    .game-bottom
      margin-bottom: 30px

    .game-hidden
      border: none

    .game-top > div, .game-bottom > div
      background: #ededed
      border: 1px solid #ededed
      border-right-width: 2px
      height: 1.6em
      border-left: none
      text-align: center
      font-family: Roboto
      display: flex
      position: relative
      justify-content: flex-end

      img
        width: 1em
        height: 1em
        margin: 0.25em 0.5em

      span
        width: 80%
        line-height: 1.6em
        padding: 0 0.3em
        &.small
          font-size: 0.7em
          line-height: 2.2em

      .score, .score1, .score2
        width: 25%
        display: inline-block
        background: #F5F5F5
        padding: 0
        &.score1:not(:last-child)
          border-right: 2px solid #ededed

    &:last-child .game-top > div span, .bracket .col .game-bottom > div span
      width: 100%

    .home, .away
      min-width: 100%
      margin: 0
      padding: 0
      height: calc(100% - 1px)
      font-size: 0.8em
      display: block

.bracket .col > .col.final > div span
  padding-right: 1em
