.summary
  margin-top: 15px
  &>div
    padding: 0px
  .panel
    display: inline-block
    vertical-align: top

    p
      margin: 0

    ul, li
      padding: 0px

    .panel-body
      padding: 15px 55px
