.teams
  padding: 0

  .row > div
    padding: 0

  .center-inline-block
    display: inline-block
    position: relative
    left: 50%
    transform: translateX(-50%)
    max-width: 1115px

    .panel
      display: inline-block
      margin: 3px
      vertical-align: top

@media (max-width: 768px)
  .teams
    & > .center-block
      text-align: center

    .center-inline-block .panel
      width: 100%
      margin: 3px 0px
