body
  overflow-x: hidden

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .panel-default>.panel-heading, .panel-primary>.panel-heading, .panel-success>.panel-heading, .panel-info>.panel-heading, .panel-warning>.panel-heading, .panel-danger>.panel-heading
  background-image: none

.form-horizontal .form-group
  margin-right: 0px
  margin-left: 0px


// .container
//   display:table
//   width: 100%
// .row
//   height: 100%
//   display: table-row
//
// .col-sm-4
//   display: table-cell
