body
  overflow-x: hidden

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .panel-default>.panel-heading, .panel-primary>.panel-heading, .panel-success>.panel-heading, .panel-info>.panel-heading, .panel-warning>.panel-heading, .panel-danger>.panel-heading
  background-image: none

.text-right-sm
  text-align: left
  margin-bottom: 10px !important

@media screen and (min-width: 992px)
  .text-right-sm
    text-align: right

.form-horizontal .form-group
  margin-right: 0px
  margin-left: 0px

.ui-menu .ui-menu-item
  list-style: none

.ui-autocomplete
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ccc
  border: 1px solid rgba(0,0,0,.15)
  box-shadow: 0 6px 12px rgba(0,0,0,.175)
  border-radius: 0px 0px 4px 4px
  max-height: 300px
  overflow-y: auto

  li.ui-menu-item
    padding: 0px
    border: none

    a
      font-size: 14px
      display: block
      padding: 3px 20px 3px 6px
      clear: both
      font-weight: 400
      line-height: 1.42857143
      color: #333
      white-space: nowrap

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
  border: none
  background: #e8e8e8
  font-weight: normal
  color: #333
  margin: 0

.text-muted
  color: #777 !important
