div#settings
  .row
    .form-horizontal
      .form-group
        label(for="players").col-md-12.control-label Tournament name:
        .col-md-5
          input(id="title", type="text", name="title", placeholder="Tournament name").form-control
            
    .form-horizontal
      .form-group
        label(for="type").col-md-12.control-label Tournament type:
        .col-md-5
          select(name="type").form-control#type
            option League
            option Knockout
            option League + Knockout
            
    .form-horizontal
      .form-group
        label(for="players").col-md-12.control-label Number of players:
        .col-md-2
          div.input-group.spinner
            span.input-group-btn
              button(type='button').btn.minus -
            input(id="players", name="players", type="text", value="4").form-control.text-center
            span.input-group-btn
              button(type='button').btn.plus +
    
    .form-horizontal
      .form-group
        label(for="teams").col-md-12.control-label Play in teams?
        .col-md-12.checkbox
          label
            input(type="checkbox", name="teams", id="teams").checkbox-inline
            | Do you want to play in teams that consist of 1 or 2 players?
    
    .form-horizontal.disabled
      .form-group
        label(for="teamsNo").col-md-12.control-label Number of teams:
        .col-md-2
          div.input-group.spinner
            span.input-group-btn
              button(type='button').btn.minus -
            input(id="teamsNo", name="teamsNo", type="text", value="1").form-control.text-center
            span.input-group-btn
              button(type='button').btn.plus +

    .form-horizontal
      .form-group
        label(for="matchesvs").col-md-12.control-label Number of matches against each team:
        .col-md-2
          div.input-group.spinner
            span.input-group-btn
              button(type='button').btn.minus -
            input(id="matchesvs", name="matchesvs", type="text", value="1").form-control.text-center
            span.input-group-btn
              button(type='button').btn.plus +
