table
  thead
    tr
      th(title="Position") Pos
      th Player(s)
      th Club
      th(title="Played") P
      th(title="Won") W
      th(title="Drawn") D
      th(title="Lost") L
      th(title="Golas For") GF
      th(title="Goals Against") GA
      th(title="Goals Difference") GD
      th(title="Points") PTS
  tbody
