.teams
  .team#1
    input(type="text", name="name1", value="", placeholder="Player")
    //- input(type="text", name="name2", value="", placeholder="Player 2")
    input(type="text", name="club", value="", placeholder="Club name")
    .bg
  .team#2
    input(type="text", name="name1", value="", placeholder="Player")
    //- input(type="text", name="name2", value="", placeholder="Player 2")
    input(type="text", name="club", value="", placeholder="Club name")
    .bg
    
    
